body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-color:rgb(168, 23, 23);
    color:black;
    padding: 10px 10px;
    justify-content: space-between;
    height: 80px;
    width: 98.5%;
    
}
.hero {
    font-size:40px;
}
 .img1 {
    height: 70px;
     border-radius: 20px;
     margin-top: 10px;
 }
 .ero {
    font-size:40px;
    margin-top: -65PX;
    margin-left: 80px;
 }
 ul {
    display: flex;
    gap: 50px;
    margin-left: 600px;
    margin-top: -30px;
 }
 li {
    list-style: none;
 }
 li a {
    text-decoration: none;
    font-style: bold;
    font-size: 18px;
    color: black;
 }
 .availa { 
    justify-items: center;
 }
 .car {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1.5rem;
   margin-top: 1rem;
 }
 .car1 {
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 8px slategray;
   overflow: hidden;
   width: 250px;
   transition: transform 0.3s ease;
   padding: 30px;
 }
 .car1:hover {
   transform: scale(1.05);
 }
 .car1 img {
   height: 150px;
   width: 100%;
 }
 .car2 {
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 8px slategray;
   overflow: hidden;
   width: 250px;
   transition: transform 0.3s ease;
   padding: 30px;
 }
  .car3 {
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 8px slategray;
   overflow: hidden;
   width: 250px;
   transition: transform 0.3s ease;
   padding: 30px;
  }
   
   .car4 {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 8px slategray;
      overflow: hidden;
      width: 250px;
      transition: transform 0.1s ease;
      padding: 30px;
   }
   .car2:hover {
      transform: scale(1.05);
   }
   .car3:hover {
      transform: scale(1.05);
   }
   .car4:hover {
      transform: scale(1.05);
   }
   .car2 img {
      height: 150px;
      width: 100%;
    }
    .car3 img {
      height: 150px;
      width: 100%;
    }
    .car4 img {
      height: 150px;
      width: 100%;
    }
  button{
   padding: 10px;
   width: 200px;
   height: auto;
   background-color: antiquewhite;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border: none;
   border-radius: 5px;
}
  .sec1 {
      text-align: center;
  padding: 2rem;
  }
  .car5 {
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 8px slategray;
   overflow: hidden;
   width: 250px;
   transition: transform 0.3s ease;
   padding: 30px;
}
.car6 {
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 8px slategray;
   overflow: hidden;
   width: 250px;
   transition: transform 0.3s ease;
   padding: 30px;
}
.car5:hover {
   transform: scale(1.05);
}
.car6:hover {
   transform: scale(1.05);
}
.car5 img {
   height: 150px;
   width: 100%;
 }
 .car6 img {
   height: 150px;
   width: 100%;
 }
 .car7 {
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 8px slategray;
   overflow: hidden;
   width: 250px;
   transition: transform 0.3s ease;
   padding: 30px;
}
.car8 {
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 8px slategray;
   overflow: hidden;
   width: 250px;
   transition: transform 0.3s ease;
   padding: 30px;
}
.car9 {
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 8px slategray;
   overflow: hidden;
   width: 250px;
   transition: transform 0.3s ease;
   padding: 30px;
}
.car7 img {
   height: 150px;
   width: 100%;
 }
 .car8 img {
   height: 150px;
   width: 100%;
 }
 .car9 img {
   height: 150px;
   width: 100%;
 }
 .car7:hover {
   transform: scale(1.05);
}
.car8:hover {
   transform: scale(1.05);
}
.car9:hover {
   transform: scale(1.05);
}
.all-img{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 50vh;
   margin: 10px;
}
.first-img img{
   border-radius: 100%;
   height: 300px;
   width: 300px;
   border: 4px dotted green;
   padding: 5px;
}
.second-img img{
   border-radius: 100%;
   height: 300px;
   width: 300px;
   border: 4px dotted green;
   padding: 5px;
}
.third-img img{
   border-radius: 100%;
   height: 300px;
   width: 300px;
   border: 4px dotted green;
   padding: 5px;
}
.p{
   text-align: center;
   padding: 5px;
   height: auto;
   width: auto;
   border-radius: 5px;
   box-shadow: 1px 1px 1px black , 1px 1px 1px black;
   border: none;
}
.social-icons {
   display: flex;
   gap: 15px;
   font-size: 30px;
   justify-content: center;
 }

 .social-icons a {
   text-decoration: none;
   color: white;
   padding: 10px;
   border-radius: 50%;
   transition: 0.3s;
 }

 .social-icons .facebook { background-color: black; }
 .social-icons .whatsapp { background-color: black; }
 .social-icons .instagram { background: black }
 .social-icons .x-twitter { background-color: #000; }

 .social-icons a:hover {
   transform: scale(1.1);
 }
 .ok-img{
   border: 3px double red;
   padding: 5px;
 }
